
target/
#!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**/target/
api-gateway/.idea
api-gateway/mvnw.cmd
api-gateway/mvnw
api-gateway/desktop.ini
inventory-service/.idea
inventory-service/.mvn
inventory-service/mvnw
inventory-service/docker-compose.yml
inventory-service/mvnw.cmd
order-service/.idea
order-service/.mvn
order-service/mvnw
order-service/docker-compose.yml
order-service/mvnw.cmd
product-service/.idea
product-service/.mvn
product-service/mvnw
product-service/docker-compose.yml
product-service/mvnw.cmd
notification-service/.idea
notification-service/.mvn
notification-service/mvnw
notification-service/mvnw.cmd

.mvnw
.mvnw.cmd
### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
node_modules/

### Mac OS ###
.DS_Store
/mysql/
/volume-data/
/data/
/docker/tempo/tempo-data/

